@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

@import './titleBar.scss';
@import './tree.scss';
@import './menus.scss';
@import './forms.scss';

html, body {
  height: 100%;
  background-color: #F3F7FB;
  font-family: 'Roboto Mono', monospace;

  box-sizing: border-box;
}

#app {
  height: 100%;
}

.main {
  margin-top: 60px;
  margin-right: 60px;
  margin-bottom: 100px;
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
