.input {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3px;

  label {
    margin-left: 5px;
    width: 40%;
  }
  input {
    border: 0.5px solid #000;
    margin-left: 5px;
    width: 50%;
    padding-right: 10px;
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 8px;

  button {
    border: 1px solid #000;
    margin-left: 2px;

    &:hover {
      cursor: pointer;
    }
  }
}
